<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">V&eacute;lib-stats</li>
      <li>
        <a href="index.html"><i class="fi-home"></i></a>
      </li>
      <li>
        <a href="#">Disponibilit&eacute;</a>
        <ul class="menu vertical">
          <li><a href="favorites.html">Stations favorites</a></li>
          <li><a href="weeks.html">Tendance par jour</a></li>
        </ul>
      </li>
      <li>
        <a href="#">Activit&eacute;</a>
        <ul class="menu vertical">
          <li><a href="actglobal.html"></i> Globale</a></li>
          <li><a href="#"><i class="fi-lock"></i> Par contrat</a></li>
          <li><a href="#"><i class="fi-lock"></i> Par station</a></li>
        </ul>
      </li>
      <li>
        <a href="#">Top &amp; Flops</a>
        <ul class="menu vertical">
          <li><a href="#"><i class="fi-lock"></i> Les plus actifs</a></li>
          <li><a href="#"><i class="fi-lock"></i> Les moins actifs</a></li>
          <li><a href="#"><i class="fi-lock"></i> Les affam&eacute;s</a></li>
          <li><a href="#"><i class="fi-lock"></i> Les l&egrave;ve-tard</a></li>
          <li><a href="#"><i class="fi-lock"></i> Les couche-t&ocirc;t</a></li>
        </ul>
      </li>
      <li>
        <a href="#">Inventaire</a>
        <ul class="menu vertical">
          <li><a href="invglobal.html"></i> Global</a></li>
          <li><a href="invrepartition.html"></i> R&eacute;partition</a></li>
          <li><a href="invcontracts.html"></i> Contrats</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="dropdown menu" data-dropdown-menu>
      <li><a href="#"><i class="fi-lock"></i> Conception</a></li>
    </ul>
  </div>
</div>
