<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">V&eacute;lib-stats</li>
      <li>
        <a href="#">Disponibilit&eacute;</a>
        <ul class="menu vertical">
          <li><a href="favorites.html">Stations favorites</a></li>
          <li><a href="weeks.html">Tendance par jour</a></li>
        </ul>
      </li>
      <li>
        <a href="#">Activit&eacute;</a>
        <ul class="menu vertical">
          <li><a href="#">Globale</a></li>
          <li><a href="#">Par contrat</a></li>
          <li><a href="#">Par station</a></li>
        </ul>
      </li>
      <li>
        <a href="#">Top &amp; Flops</a>
        <ul class="menu vertical">
          <li><a href="#">Les plus actifs</a></li>
          <li><a href="#">Les moins actifs</a></li>
          <li><a href="#">Les moins approvisionn&eacute;s</a></li>
          <li><a href="#">Les l&eagrave;ve-tard</a></li>
          <li><a href="#">Les couche-t&ocirc;t</a></li>
        </ul>
      </li>
      <li>
        <a href="#">Nombre de v&eacute;los</a>
        <ul class="menu vertical">
          <li><a href="#">Global</a></li>
          <li><a href="#">Contrat</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="dropdown menu" data-dropdown-menu>
      <li><a href="#">Conception</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">&Agrave; propos</a></li>
    </ul>
  </div>
</div>
