{{!-- This is the base layout for your project, and will be used on every page. --}}

<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Velib-stats</title>

        <!-- Foundation 6 -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation/6.2.1/foundation.min.css">

        <!-- foundation-datepicker -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation-datepicker/1.5.3/css/foundation-datepicker.min.css">

        <!-- foundicons -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.min.css">

        <!-- select2 -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />

        <!-- datatables -->
        <link href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" rel="stylesheet" />

        <!-- app -->
        <link rel="stylesheet" href="{{root}}assets/css/app.css">

        <!-- JQuery -->
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>

        <!-- Foundation 6 -->
        <script type="text/javascript" src="https://cdn.jsdelivr.net/foundation/6.2.1/foundation.min.js"></script>

        <!-- Moment.js -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment-with-locales.min.js"></script>

        <!-- Moment-timezone.js -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.4/moment-timezone-with-data.min.js"></script>

        <!-- Charts.js -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>

        <!-- js-cookie -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.2/js.cookie.min.js"></script>

        <!-- foundation-datepicker -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/foundation-datepicker/1.5.3/js/foundation-datepicker.min.js"></script>

        <!-- select2 -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>

        <!-- what-input -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/what-input/2.1.0/what-input.min.js"></script>

        <!-- datatables -->
        <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>

        <!-- app -->
        <script type="text/javascript" src="{{root}}assets/js/utils.js"></script>
        <script type="text/javascript" src="{{root}}assets/js/api.js"></script>
        <script type="text/javascript" src="{{root}}assets/js/select.js"></script>
        <script type="text/javascript" src="{{root}}assets/js/datenav.js"></script>
        <script type="text/javascript" src="{{root}}assets/js/charts-global.js"></script>

    </head>
    <body>

    {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
    {{> navigation}}
    {{> body}}

    <script>$(document).foundation();</script>
    </body>
</html>
